/* ==========================
   GUVI INSPIRED THEME
========================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --primary:#0B5ED7;
    --primary-dark:#084298;
    --success:#20C997;
    --success-dark:#198754;
    --light:#F8FAFC;
    --dark:#1F2937;
    --gray:#6B7280;
    --border:#D1D5DB;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:linear-gradient(135deg,#f8fafc,#eef5ff);
}

/* ==========================
   CARD
========================== */

.main-card{
    background:white;
    border:none;
    border-radius:25px;
    padding:50px;
    box-shadow:
        0 20px 60px rgba(15,23,42,12);
}

/* ==========================
   TITLES
========================== */

.page-title{
    color:var(--primary);
    font-weight:700;
}

.page-subtitle{
    color:var(--gray);
    font-size:14px;
}

/* ==========================
   INPUTS
========================== */

.form-control{
    border-radius:12px !important;
    padding:12px !important;
    border:1px solid var(--border) !important;
}

.form-control:focus{
    border-color:var(--primary) !important;
    box-shadow:
        0 0 0 0.2rem rgba(11,94,215,.15) !important;
}
.form-control,
textarea{
    background:white!important;
}

/* ==========================
   BUTTONS
========================== */

.btn-login{
    background:var(--primary);
    border:none;
    border-radius:12px;
    padding:12px;
    font-weight:600;
}

.btn-login:hover{
    background:var(--primary-dark);
}

.btn-register{
    background:var(--success);
    border:none;
    border-radius:12px;
    padding:12px;
    font-weight:600;
}

.btn-register:hover{
    background:var(--success-dark);
}

.btn-save{
    background:var(--success);
    border:none;
    border-radius:12px;
    padding:12px;
    font-weight:600;
}

.btn-save:hover{
    background:var(--success-dark);
}

.btn-logout{
    border-radius:12px;
    padding:12px;
    font-weight:600;
}

/* ==========================
   LOGO
========================== */

.logo{
    width:180px;
    margin-bottom:15px;
}

/* ==========================
   PROFILE EMAIL
========================== */

.user-box{
    background:#e7f1ff;
    border-left:5px solid var(--primary);
    padding:15px;
    border-radius:12px;
    margin-bottom:20px;
}

/* ==========================
   SUCCESS MESSAGE
========================== */

.alert-success{
    border-radius:12px;
}

/* ==========================
   MOBILE
========================== */

@media(max-width:768px){

    .main-card{
        padding:25px;
    }

    .logo{
        width:140px;
    }

}